@charset "utf-8";

.cancel{background-image:url("../imagens/icones/cancel.png")!important}
.afirm_blue{background-image:url("../imagens/icones/ico_afirm.png")!important}
.accept{background-image:url("../imagens/icones/accept.png")!important}
.add{background-image:url("../imagens/icones/add.png")!important}
.admin{background-image:url("../imagens/icones/admin.png")!important}
.ag{background-image:url("../imagens/icones/ico_ag.png")!important}
.agenda{background-image:url("../imagens/icones/agenda.png")!important}
.alarm{background-image:url("../imagens/icones/alarm_bell.png")!important}
.applicationGet{background-image:url("../imagens/icones/applicationget.png")!important}
.ativo{background-image:url("../imagens/icones/ico_ativo_16x16.png")!important}
.bank{background-image:url("../imagens/icones/bank.png")!important}
.barra{background-image:url("../imagens/icones/barra.png")!important}
.box{background-image:url("../imagens/icones/box.png")!important}
.buscar{background-image:url("../imagens/icones/magnifier.png")!important}
.card_back{background-image:url("../imagens/icones/card_back.png")!important}
.carrinho{background-image:url("../imagens/icones/carrinho.png")!important}
.cartorio{background-image:url("../imagens/icones/cartorio.png")!important}
.categoria{background-image:url("../imagens/icones/categoria.png")!important}
.cesta{background-image:url("../imagens/icones/cesta.png")!important}
.cidade{background-image:url("../imagens/icones/cidade.png")!important}
.cifrao{background-image:url("../imagens/icones/money_dollar.png")!important}
.cliente{background-image:url("../imagens/icones/cliente.png")!important}
.clock{background-image:url("../imagens/icones/clock_red.png")!important}
.clock_green{background-image:url("../imagens/icones/clock_green.png")!important}
.cofre_aberto{background-image:url("../imagens/icones/open_safety_box.png")!important}
.coins{background-image:url("../imagens/icones/coins.png")!important}
.conta_pagar{background-image:url("../imagens/icones/contaPagar.png")!important}
.conta_receber{background-image:url("../imagens/icones/contaReceber.png")!important}
.correios{background-image:url("../imagens/icones/ico_correios.png")!important}
.delete{background-image:url("../imagens/icones/delete.png")!important}
.distribuicao{background-image:url("../imagens/icones/distribution_partnerships.png")!important}
.document_notes{background-image:url("../imagens/icones/document_notes.png")!important}
.down_red{background-image:url("../imagens/icones/down_arrow.png")!important}
.download{background-image:url("../imagens/icones/download.png")!important}
.editar{background-image:url("../imagens/icones/editar.png")!important}
.email{background-image:url("../imagens/icones/email.png")!important}
.email_edit{background-image:url("../imagens/icones/email_edit.png")!important}
.enviado{background-image:url("../imagens/icones/enviado.png")!important}
.entrada{background-image:url("../imagens/icones/entrada.png")!important}
.error{background-image:url("../imagens/icones/error.png")!important}
.exclamation{background-image:url("../imagens/icones/exclamation.png")!important}
.exclamation_32{background-image:url("../images/32x32/exclamation.png")!important}
.excluir{background-image:url("../imagens/icones/excluir.png")!important}
.extract{background-image:url("../imagens/icones/extract_object.png")!important}
.faturamento{background-image:url("../imagens/icones/billing.png")!important}
.financeiro{background-image:url("../imagens/icones/financeiro.png")!important}
.folder_page{background-image:url("../imagens/icones/folder_page.png")!important}
.fornecedor{background-image:url("../imagens/icones/fornecedor.png")!important}
.glasses{background-image:url("../imagens/icones/glasses.png")!important}
.grafico_barra{background-image:url("../imagens/icones/chart_bar.png")!important}
.grafico_pizza{background-image:url("../imagens/icones/chart_pie.png")!important}
.grupo{background-image:url("../imagens/icones/group.png")!important}
.hand{background-image:url("../imagens/icones/hand.png")!important}
.historico{background-image:url("../imagens/icones/text_linespacing.png")!important}
.home{background-image:url("../imagens/icones/home.png")!important}
.home_page{background-image:url("../imagens/icones/home_page.png")!important}
.ico_archive{background-image:url("../imagens/icones/ico_archive.png")!important}
.ico_boleto{background-image:url("../imagens/icones/ico_boleto_16x16.png")!important}
.ico_financeiro{background-image:url("../imagens/icones/ico_finances_16x16.png")!important}
.ico_orcamento{background-image:url("../imagens/icones/ico_orcamento_16x16.png")!important}
.icon_banco{background-image:url("../imagens/icones/ico_banco.png")!important}
.icon_excel{background-image:url("../imagens/icones/icon_excel.png")!important}
.inativo{background-image:url("../imagens/icones/ico_inativo_16x16.png")!important}
.indicacao{background-image:url("../imagens/icones/page_white_c.png")!important}
.key{background-image:url("../imagens/icones/key.png")!important}
.left{background-image:url("../imagens/icones/arrow_left.png")!important}
.list{background-image:url("../imagens/icones/list.png")!important}
.list_cheked{background-image:url("../imagens/icones/to_do_list_cheked_all.png")!important}
.logo{background-image:url("../images/outros/ico/logo.png")!important}
.logo_menor{background-image:url("../images/logo_nacional_docs16_16.png")!important}
.mail_forward{background-image:url("../imagens/icones/mail_forward.png")!important}
.malote{background-image:url("../imagens/icones/reseller_account_template.png")!important}
.money{background-image:url("../imagens/icones/money_bag.png")!important}
.money_bag{background-image:url("../imagens/icones/money_bag.png")!important}
.money_bookers{background-image:url("../imagens/icones/money_bookers.png")!important}
.money_cedula{background-image:url("../imagens/icones/money.png")!important}
.money_envelope{background-image:url("../imagens/icones/money_in_envelope.png")!important}
.money_notes{background-image:url("../imagens/icones/money_notes.png")!important}
.note{background-image:url("../imagens/icones/note.png")!important}
.note_edit{background-image:url("../imagens/icones/note_edit.png")!important}
.nova_observacao{background-image:url("../imagens/icones/pencil_add.png")!important}
.novo{background-image:url("../imagens/icones/page_white.png")!important}
.novo_situacao{background-image:url("../imagens/icones/novo.png")!important}
.ok_blue{background-image:url("../imagens/icones/ok_blue.png")!important}
.open_folder{background-image:url("../imagens/icones/open_folder.png")!important}
.operador{background-image:url("../imagens/icones/operador.png")!important}
.orcamento{background-image:url("../imagens/icones/icon-orcamento.png")!important}
.orcando{background-image:url("../imagens/icones/ico_orcando_16x16.png")!important}
.page_paint{background-image:url("../imagens/icones/page_white_paint.png")!important}
.package_system{background-image:url("../imagens/icones/package_system.png")!important}
.pc_go{background-image:url("../imagens/icones/computer_go.png")!important}
.pdf{background-image:url("../imagens/icones/pdf.png")!important}
.phone{background-image:url("../imagens/icones/phone.png")!important}
.produto{background-image:url("../imagens/icones/produto.png")!important}
.protestado{background-image:url("../imagens/icones/icon-protesto16x16.png")!important}
.question{background-image:url("../imagens/icones/question.png")!important}
.receber{background-image:url("../imagens/icones/receber.png")!important}
.recebido{background-image:url("../imagens/icones/recebido.png")!important}
.received_mail{background-image:url("../imagens/icones/received_mail.png")!important}
.recibo{background-image:url("../imagens/icones/receipt_text.png")!important}
.relatorio{background-image:url("../imagens/icones/relatorio.png")!important}
.right{background-image:url("../imagens/icones/arrow_right.png")!important}
.saida{background-image:url("../imagens/icones/saida.png")!important}
.sair{background-image:url("../imagens/icones/sair.png")!important}
.save{background-image:url("../imagens/icones/save_as.png")!important}
.servico{background-image:url("../imagens/icones/servico.png")!important}
.sistema{background-image:url("../imagens/icones/sistema.png")!important}
.sub_categoria{background-image:url("../imagens/icones/subCategoria.png")!important}
.supervisor{background-image:url("../imagens/icones/user_police_england.png")!important}
.terceiro{background-image:url("../imagens/icones/reseller_account.png")!important}
.text{background-image:url("../imagens/icones/text.png")!important}
.tick{background-image:url("../imagens/icones/tick.png")!important}
.titulo{background-image:url("../imagens/icones/document_comment_behind.png")!important}
.update{background-image:url("../imagens/icones/adept_update.png")!important}
.user{background-image:url("../imagens/icones/user.png")!important}
.usuario{background-image:url("../imagens/icones/usuario.png")!important}
.venda{background-image:url("../imagens/icones/venda.png")!important}
.view{background-image:url("../imagens/icones/view.png")!important}
.carenagem{background-image:url("../imagens/icones/cog.png")!important}

body {
	font-size: 14px;
	font-family: Tahoma, Geneva, sans-serif;
}

a:link, a:visited {
	text-decoration: none
	}
a:hover {
	text-decoration: none; 
	color: #f00
	}
a:active {
	text-decoration: none
	}

.semBorda tr, .semBorda td {
	border: none !important;
}

html{}
body{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;font-size:13px;color:#333;font-weight:normal!important;background:#e7e8f3}

.italico { font-style: italic !important; }
.container_login{margin:210px auto 0;width:300px}

#wrap_geral{min-width:980px}
#top,#content,#bottom{margin:10px}
#menu{margin-bottom:10px;z-index:2}

.barra_topo{padding-left:10px;color:#fff;background:#4b74b6;line-height:30px}
.barra_topo a{color:#fff}
.bt_sair,.dados_usuario{float:right}
.bt_sair{display:block;background:#f00b54 url("../imagens/icones/ico_power.png") 50% 50% no-repeat;width:30px;height:30px}
.dados_usuario strong,.dados_usuario span{display:inline-block;margin-right:10px;color:#fff}
.dados_usuario .ico_usuario{float:left;margin:8px 4px 0 0}

.by_xbrain{display:block;float:right;margin-right:10px;background:url("../images/logo_xbrain.png") no-repeat;width:83px;height:20px}
.ndocs{display:block;float:left;margin-right:7px;background:url("../images/logo_nacional_docs32_16.png") no-repeat;width:32px;height:16px}

.conteudo_home{background-color:#fff;border:1px solid #ddd;border-radius:2px}
.tela_bem_vindo{position:relative;padding:20px 30px;font-family:"Open Sans",sans-serif;font-weight:300;color:#999;background:#fff url("../images/img_docs.jpg") right top no-repeat;height:440px;}

.wrap_data_hora .dia_semana,.wrap_data_hora .data{font-size:42px;line-height:46px}
.wrap_data_hora .relogio{position:absolute;bottom:10px;font-size:142px}

.col_01,.col_02{float:left;width:50%}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
input[type="text"],textarea{text-transform:uppercase}

fieldset{margin-bottom:10px}
input[type="file"]{margin:0}

.col_situacao,.col_acoes{text-align:center;white-space:nowrap;width:50px}

.input_falso {display:inline-block;margin:0;padding:4px}

select{margin:0;padding:3px;border:1px solid #ccc;border-radius:3px;width:237px; margin-right: 10px}
select.pequeno{width:69px!important;}
select.medio{}
select.grande{width:206px!important}
select.padrao{width:279px!important}

table,.tabela-form tr{border-color:white!important}
table tr td.ui-state-default{background:white!important;color:black!important}

table table{border-collapse:collapse;border-spacing:0;}
table table th,
table table td{padding:0}
table table td{padding-right:4px}

table table.clean{width:auto}
table table.clean td{border:none;padding:2px}

table table.grid_opcoes td{padding-bottom:5px}

.col_label{width:120px}
.ex_inline{display:inline-block;margin-left:7px;font-size:11px;color:#999}
.col_checkbox{text-align:center;width:18px;}

.grid_sem_borda td, .grid_sem_borda tr{border:none}

.grid_simples{border-collapse:collapse;width:100%}
.grid_simples th,.grid_simples td{padding:4px 5px;border:1px solid rgb(221, 221, 221)}
.grid_simples td{vertical-align:top!important}

.grid_selectManyCheckbox{font-size:11px}
.grid_selectManyCheckbox td{padding:0 2px 2px;border:none;vertical-align:top}
.grid_selectManyCheckbox td input{float:left}
.grid_selectManyCheckbox td label{display:block;float:left;margin:4px 0 0 2px}

.grid_selectManyCheckbox td:before,.grid_selectManyCheckbox td:after{content:"";display:table}
.grid_selectManyCheckbox td:after{clear:both}
.grid_selectManyCheckbox td{zoom:1}

/*button.acoes{background:transparent!important}*/

.wrap_cont_show_hide{margin-top:.6em;padding-top:.6em;border-top:1px solid #ddd}

/* Customizacao do Prime Faces */

.ui-widget,.ui-widget .ui-widget,.ui-widget-content,.ui-dialog.ui-widget-content .ui-dialog-content{font-size:13px}

.custom-toggleable .ui-panel-titlebar{position:relative}
.custom-toggleable .ui-panel-titlebar .ui-panel-titlebar-icon{position:absolute;top:7px;left:7px}

.ui-datatable-tablewrapper th,.ui-datatable-tablewrapper td{font-size:11px!important}
.ui-datatable-tablewrapper tbody td{text-transform:uppercase!important}
.ui-datatable thead th,.ui-datatable tbody td,.ui-datatable tfoot td,.ui-panelgrid thead th,.ui-panelgrid tbody td,.ui-panelgrid tfoot td{padding:2px 6px}
.ui-datatable thead th,.ui-panelgrid thead th{padding:6px}

.ui-datatable .ui-expanded-row{border-bottom:#4b74b6}
.ui-datatable-tablewrapper table tbody tr.desabilitado td{color:#aaa;background:#e6e6e6!important;cursor:default}

.ui-fieldset-legend{font-weight:bold;cursor:default!important}

.ui-icon{width:17px!important}

.ui-menu .ui-menu-list .ui-menuitem{margin-right:5px}
.ui-menu .ui-menu-list .ui-menuitem a{border-radius:2px}
.ui-menu.ui-widget .ui-menuitem-link .ui-menuitem-text{margin:0 0.4em}

.ui-outputlabel-rfi{margin-left:.4em;color:red!important}

.ui-paginator-rpp-options{padding:1px;width:auto!important;border-radius:1px!important}

.ui-picklist .ui-picklist-list{width:450px;height:350px}
.ui-picklist-button-add-all{visibility:hidden!important}
.ui-picklist-button-remove-all{visibility:hidden!important}

.ui-tabs.ui-widget-content{border-bottom:none}
.ui-tabs-nav{background:url("../images/fundo_abas.png") left bottom repeat-x!important;height:36px}
.ui-tabs .ui-tabs-panel{padding:1em 0}

.ui-dialog-content.ui-widget-content{overflow:hidden}

.ui-cell-editor-output{white-space:normal}

.ui-dialog .ui-dialog-buttonpane{text-align:center}

.ui-selectonelistbox, .ui-selectmanymenu {width:auto}
.ui-selectlistbox-list {width:auto!important;height:70px;}

/* Fim - Customizacao do Prime Faces */

.wrap_filtros{max-width:1550px}
.wrap_filtros div{float:left;margin:0 20px 10px 0;padding-left:5px;background:#f5f5f5;border-left:3px solid #ddd;border-radius:0 4px 4px 0}
.wrap_filtros div table tr td:first-child{width:85px}

.centraliza_grid{margin:0 auto}

.wrap_botoes_margem_esquerda{margin-bottom:10px;text-align:left}
.wrap_botoes_centralizados{margin-bottom:10px;text-align:center}

.hasDatepicker{background:url("../imagens/icones/calendar_datepicker.png") right 50% no-repeat!important}

/* ********************************************* */

.inline_block{display:inline-block}

.wrap_margem_0_2{margin:0 2px}

.margem_3{margin:3px}

.margem_topo_0{margin-top:0}
.margem_dir_0{margin-right:0}
.margem_base_0{margin-bottom:0}
.margem_esq_0{margin-left:0}

.margem_topo_4{margin-top:4px}
.margem_dir_4{margin-right:4px}
.margem_base_4{margin-bottom:4px}
.margem_esq_4{margin-left:4px}

.margem_topo_10{margin-top:10px}
.margem_dir_10{margin-right:10px}
.margem_base_10{margin-bottom:10px}
.margem_esq_10{margin-left:10px}

.padding_0{padding:0}

.padding_topo_10{padding-top:10px}
.padding_dir_10{padding-right:10px}
.padding_base_10{padding-bottom:10px}
.padding_esq_10{padding-left:10px}

.strong,.b{font-weight:bold}

.alinha_esq{text-align:left!important}
.alinha_dir{   
    text-align:right!important
}
.alinha_centro{text-align:center!important}
.alinha_topo{vertical-align:top!important}

.width_5_porcento {width:5%}
.width_20_porcento{width:20%}
.width_25_porcento{width:25%}
.width_33_porcento{width:33%}
.width_50_porcento{width:50%}
.width_100_porcento{width:100%}

.nowrap{white-space:nowrap}
.quebra_linha{white-space:normal!important}
.quebra_linha_strong{white-space:normal!important;font-weight:bold}

.texto_destaque{font-weight:bold;color:#4b74b6}
.texto_vermelho{color:#d20005}
.texto_cinza{color:#999}

.scroll{margin-bottom:10px;max-height:480px;overflow:auto}

/* ********************************************* */

.clear:before,.clear:after{content:"";display:table}
.clear:after{clear:both}
.clear{zoom:1}

.clear_old{clear:both}

.ui-inputfield.ui-state-error {
    color:#000!important;
}

.label_normal{
    padding-right: 5px;
}
.label_negrito{
    padding-right: 5px;
    font-weight: bold;
}

.label_negrito_2{
    padding-right: 5px;
    font-weight: bold;
    float: right;
}

.fonte-cinza {color:silver;}
.horizontal { 
    display: inline;
    list-style-type: none;
}

.titulo-consolidacao {
    color: gray; 
    font-size: 18px!important; 
    font-style: italic; 
    font-weight:bold;
}

.sem-bordas {
    border: 0px!important;
}

.ui-datalist-data {  
                border: 0px;  
            } 